In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('standard map.xlsx')

In [3]:
df.head(1)

,Certification,Origin Countries,Destination Countries,Product,Sector,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,A.I.S.E,"Albania, Andorra, Armenia, Austria, Belarus, B...","Albania, Andorra, Armenia, Austria, Belarus, B...","Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN

In [9]:
data_dict = {
    "Company": [],
    "from_country": [],
    "to_country": [],
    "Product": [],
    "Sector": [],
    "c6": [],
    "c7": [],
    "c8": [],
    "c9": [],
    "c10": [],
}
for index in df.index:
    to_countries = df.iloc[index,2]
    from_countries = df.iloc[index,1]
    certification = df.iloc[index,0]
    products = df.iloc[index,3]
    sector = df.iloc[index,4]
    c6 = df.iloc[index,5]
    c7 = df.iloc[index,6]
    c8 = df.iloc[index,7]
    c9 = df.iloc[index,8]
    c10 = df.iloc[index,9]

    if isinstance(to_countries, str) and isinstance(from_countries, str):
        from_countries = from_countries.split(',')
        to_countries = to_countries.split(',')
        for from_country in from_countries:
            for to_country in to_countries:
                data_dict["Company"].append(certification)
                data_dict["from_country"].append(from_country)
                data_dict["to_country"].append(to_country)
                data_dict["Product"].append(products)
                data_dict["Sector"].append(sector)
                data_dict["c6"].append(c6)
                data_dict["c7"].append(c7)
                data_dict["c8"].append(c8)
                data_dict["c9"].append(c9)
                data_dict["c10"].append(c10)

In [10]:
final_df = pd.DataFrame(data_dict)

In [11]:
final_df.head(20)

,Company,from_country,to_country,Product,Sector,c6,c7,c8,c9,c10
0,A.I.S.E,Albania,Albania,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
1,A.I.S.E,Albania,Andorra,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
2,A.I.S.E,Albania,Armenia,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
3,A.I.S.E,Albania,Austria,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
4,A.I.S.E,Albania,Belarus,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
5,A.I.S.E,Albania,Belgium,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
6,A.I.S.E,Albania,Bosnia and Herzegovina,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
7,A.I.S.E,Albania,Bulgaria,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
8,A.I.S.E,Albania,Croatia,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
9,A.I.S.E,Albania,Cyprus,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
10,A.I.S.E,Albania,Czech Republic,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
11,A.I.S.E,Albania,Denmark,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
12,A.I.S.E,Albania,Estonia,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
13,A.I.S.E,Albania,Finland,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
14,A.I.S.E,Albania,France,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
15,A.I.S.E,Albania,Georgia,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
16,A.I.S.E,Albania,Germany,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
17,A.I.S.E,Albania,Greece,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
18,A.I.S.E,Albania,Hungary,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN
19,A.I.S.E,Albania,Iceland,"Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN

In [12]:
final_df.to_csv('result.csv')