In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('standard map.xlsx')

In [3]:
df.head(1)

,Certification,Origin Countries,Destination Countries,Product,Sector,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,A.I.S.E,"Albania, Andorra, Armenia, Austria, Belarus, B...","Albania, Andorra, Armenia, Austria, Belarus, B...","Cosmetics, Detergents",Manufactured products,A.I.S.E. is the International Association for ...,NaN,NaN,NaN,NaN

In [9]:
data_dict = {
    "Company": [],
    "from_country": [],
    "to_countries": [],
    "Product": [],
}
for index in df.index:
    to_countries = df.iloc[index,2]
    from_countries = df.iloc[index,1]
    certification = df.iloc[index,0]
    products = df.iloc[index,3]

    if isinstance(to_countries, str) and isinstance(from_countries, str):
        from_countries = from_countries.split(',')
        for from_country in from_countries:
            data_dict["Company"].append(certification)
            data_dict["from_country"].append(from_country)
            data_dict["to_countries"].append(to_countries)
            data_dict["Product"].append(products)

In [10]:
final_df = pd.DataFrame(data_dict)

In [11]:
final_df.head()

,Company,from_country,to_countries,Product
0,A.I.S.E,Albania,"Albania, Andorra, Armenia, Austria, Belarus, B...","Cosmetics, Detergents"
1,A.I.S.E,Andorra,"Albania, Andorra, Armenia, Austria, Belarus, B...","Cosmetics, Detergents"
2,A.I.S.E,Armenia,"Albania, Andorra, Armenia, Austria, Belarus, B...","Cosmetics, Detergents"
3,A.I.S.E,Austria,"Albania, Andorra, Armenia, Austria, Belarus, B...","Cosmetics, Detergents"
4,A.I.S.E,Belarus,"Albania, Andorra, Armenia, Austria, Belarus, B...","Cosmetics, Detergents"

In [ ]:
final_df.to_csv('result.csv')